.recipe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    height: auto;
    width: 65vw;
}

.recipe-card {
    text-align: center;
}

.recipe-card > img {
    height: auto;
    width: 45vw;
    border-radius: 1rem;
    margin-top: 20px;
}

.recipe-card > h5 {
    border-bottom: black dashed 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.recipe-card > h2 {
    margin-top: 20px;
}