.homepage-banner {
  width: 100%;
  max-width: 2440px;
  height: auto;
  display: block;
  margin: auto auto
}

.navbar-brand {
  font-size:min(max(16px, 2vw), 30px);
  cursor: pointer;
  margin-left: 2vw;
}

.toggle {
  margin-right: 5px
}

.nav-link {
  margin-left: 10px
}

.d-flex {
  margin-right: 5px;
  margin-left: 5px;
}

#search-bar{
  margin-right: 10px
}