.drink-container {
  padding: 8rem;
  display: grid;
  grid-template-columns:  repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
  margin: auto;
  text-align: center;
}


.drink-card {
  margin-top: 10px;
}