.carousel{
  position: relative;
  margin: 0 auto;
  height: 40%;
  width: min(40vw, 500px);
  max-height: 1920px;
  max-width: 1920px
}
.carousel img {
  margin: 0 auto;
  width: 40%;
  height: 40%;
  max-width: 1920px
}

.carousel h2 {
  margin: 0 auto;
  font-size: min(3vw, 34px);
}

.carousel-indicators {
  width: 10vw;
  margin: 0 auto
}