.ingredient-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  min-width: 780px;
  padding-top:30px;
  padding-bottom: 30px;
  width: 100%;
  height:100%;
  text-align: center;
}

.ingredient-title {
  text-align: center;
}
